<h3>New Section</h3>

<%= form_for(@section) do |f| %>
  <% if @section.errors.any? %>
    <ul>
      <% @section.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>

  <div class="form-group">
   <%= f.label :name %>
   <%= f.text_field :name, class:"form-control" %>
  </div>
  <div class="form-group">
   <%= f.label :position %>
   <%= f.number_field :position, class: "form-control" %>
  </div>
  <div class="form-group">
   <%= f.label :content_type %>
   <%= f.text_field :content_type, class:"form-control" %>
  </div>
  <div class="form-group">
   <%= f.label :content %>
   <%= f.text_field :content, class:"form-control" %>
  </div>
  <div class="form-group">
   <%= f.label :page_id %>
   <%= f.select :page_id, options_for_select(Page.all.map{ |e| [e.name, e.id] }), class: "form-control" %>
  </div>
  <div class="form-group form-check">
   <%= f.check_box :visible, class: "form-check-input" %>
   <%= f.label :visible, class: "form-check-label"  %>
  </div>
    <%= f.submit "Save", class: "btn btn-primary" %>
<% end %>
