<h2><%= @section.name %></h2>
<h4><%= @section.id %></h4>
<h4><%= @section.position %></h4>
<h4><%= @section.visible %></h4>
<h4><%= @section.content_type %></h4>
<h4><%= @section.content %></h4>
<h4><%= @section.page_id %></h4>
