<h1>Pages</h1>
<%= link_to 'Add New Page', new_page_path,class:"btn btn-primary" %>
<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Visible</th>
      <th>Position</th>
      <th>Permulink</th>
      <th>Subject ID</th>
      <th>Created at</th>
      <th>Updated at</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @pages.each do |page| %>
   <tr>
    <td><%= page.id %></td>
    <td><%= page.name %></td>
    <td><%= page.visible %></td>
    <td><%= page.position %></td>
    <td><%= page.permulink %></td>
    <td><%= page.subject.name %></td>
    <td><%= page.created_at %></td>
    <td><%= page.updated_at %></td>
    <td>
      <%= link_to 'Show',  page_path(page) %>
      <%= link_to 'Edit', edit_page_path(page) %>
      <%= link_to 'Delete', page_path(page), method: :delete %>
    </td>
   </tr>
    <% end %>
  </tbody>
</table>
